.degree{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 2vw;
    width: 100%;
}
.degreeInfo{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    color: #d9d9d9;
    font-size: 1.11vw;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: normal;
}
.degreeInfo p:first-child {
    justify-self: start;
    align-self: end;
    margin: 0;
}
.degreeNumber{
    justify-self: end;
    align-self: end;
    margin: 0;
}

.degreeBar{
    background-color: #14192A; /*background: linear-gradient(90deg, #1A1B25,#10121C) ;*/
    width: 100%;
    height: 0.7vw;
    border-radius: 2vw;

}
.degreePerc {
    height: 100%;
    border-radius: 2vw;
}

