.scrollIndicator {

    border-radius: 20vw;
    border: 1px solid #d9d9d9 ;
    width: 2vw;
    height: 4vw;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 100%;
}
.scrollLine {
    height: 30%;
    border: 1px solid #d9d9d9;
    width:1px;
    border-radius: 20vw;
    background: #d9d9d9;
    opacity: 80%;

}
.Home {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: end;
    height: 35vw;
}